html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-radius: 5px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 400px;
    max-width: 90%;
    padding: 20px;
    border-radius: 12px;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337ab7;
}

.all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.all-clear:hover {
    background-color: #cd3a40;
}

.equal-sign {
    background-color: #2e86c1;
    border-color: #337ab7;
    color: #fff;
    height: 100%;
    grid-area: 4 / 4 / 6 / 5;
}

.equal-sign:hover {
    background-color: #1e679c;
}